/* Font definition
============ */
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Bold.otf');
}

/* Media query for mobile devices
 ==================================== */

 @media (max-width: 480px) {
    .media {
     display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

.main {
    background-image: url(../headphones/IMG/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
}

.header{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 480px) {

.logo{
    width: 161;
    height: 32;
}

.menu{
    font-family: 'SourceSansPro', SourceSansPro-Bold;
}

.menu a{
    color: white;
}

.menu a:hover{
    color: #ff6565;
}

.main-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'SourceSansPro', SourceSansPro-Bold;
    font-size: 32;
}

.sub-title{
    font-family:  'SourceSansPro', SourceSansPro-Bold;
    font-size: 16;
}

.main-part button{
    background-color: #ff6565;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'SourceSansPro', SourceSansPro-Bold;
    font-size: 14;
}

.main-part p{
    font-family: 'SourceSansPro', SourceSansPro-Regular;
    font-size: 16;
}
}